<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <b>Sunrise resort</b>
  </div>
  <!-- /.login-logo -->

  <div class="login-box-body">
    <div class="error">
        {{#if messages.error}}
        <div class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Error!</strong> {{messages.error}}
        </div>
        {{/if}} 
        {{#if messages.success}}
        <div class="alert alert-success fade in">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Success!</strong> {{messages.success}}
        </div>
        {{/if}}
    </div>
    
    <p class="login-box-msg">Please fill email id</p>

    <form action="/admin/forgotpassword" method="post">
      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Email" name="email" required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>      
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Submit</button>
        </div>
        <div class="col-xs-8">
          <a class="pull-right" href="/admin">Login</a>
        </div>
        <!-- /.col -->
      </div>
    </form>    

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- jQuery 3 -->
<script src="/components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="/plugins/iCheck/icheck.min.js"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' /* optional */
    });
  });
</script>
</body>