<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Add Sub Category</h1>
        <ol class="breadcrumb">
            <li><a href="/admin"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active"><a href="/admin/subcategory">Sub Category</a></li>
            <li class="active">Add Sub Category</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-8">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        {{#if messages.error}}
                        <div class="alert alert-danger">{{ messages.error }}</div>
                        {{/if}}
                        {{#if messages.success}}
                        <div class="alert alert-success">{{ messages.success }}</div>
                        {{/if}}
                        <!-- form start -->
                        <form action="/admin/subcategory/addrecord" method="post" id="myForm">
                            <div class="box-body">

                                <div class="form-group">
                                    <label>Select Category<span style="color: #ff0000">*</span></label>
                                    <select class="form-control js-example-basic-single" id="category_id" name="category_id" required="required">
                                        <option value="">Please Select Category</option>
                                        {{#each categorylist}}
                                        <option value="{{this.id}}" />{{this.category_name}}</option>
                                        {{/each}}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="name">Sub Category<span style="color: #ff0000">*</span></label>
                                    <input class="form-control" id="name" name="name" placeholder="Sub Category Name" type="text"
                                        required="required" value="">
                                </div>


                                <div class="form-group">
                                    <label for="name">Slug<span style="color: #ff0000">*</span></label>
                                    <input class="form-control" id="slug" name="slug" placeholder="Category Name" type="text" required="required" value="" readonly/>
                                </div>
                                

                                <div class="form-group">
                                    <label>Select Status<span style="color: #ff0000">*</span></label>
                                    <select class="form-control" id="status" name="status">
                                        <option value="">Please Select Status</option>
                                        <option value="1">Active</option>
                                        <option value="0">In Active</option>
                                    </select>
                                </div>

                                <div class="box-footer">
                                    <button type="submit" name="submit" class="btn btn-primary">Submit</button>
                                    <a href="/admin/subcategory" name="cancel" class="btn btn-warning pull-right">Cancel</a>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->

        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>


<script>
function validateSlug(title){
   if(title){
   $.ajax({
        type: 'post',
        url: '/admin/categoryslug',
        async: false,
        data: {
        catname:title,
        },
        success: function (response,event) {
            //console.log(response.categoriesname);
            $("#slug").val(response.categoriesname);
        }
        });
    }
}

 $(document).ready(function(){
    $('#name').change(function(){
        var title = $(this).val();
        
        title = title.replace(/[^a-z0-9\s]/gi, '');
        
        title=title.replace(/ /g, '-');
        
        title = encodeURI(title);
        
        validateSlug(title.toLowerCase());
        
    });
});  
</script>