<!-- Banner Section Start -->

<section class="slider">
  <div id="slide" class="owl-carousel owl-theme">
    <div class="item">
      <div class="slideCaption">
        <div class="container">
          <div class="row">
            <aside class="col-lg-5 col-sm-7">
              <h1>Auto Detailing Supplies Superstore</h1>
              <p>A community of people, who care about cars</p>
              <a href="#">Read More</a> </aside>
            <aside class="col-lg-7 col-sm-5"> <img src="website/images/slide-product1.png" class="img-fluid"> </aside>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="slideCaption">
        <div class="container">
          <div class="row">
            <aside class="col-lg-5 col-sm-7">
              <h1>Auto Detailing Supplies Superstore</h1>
              <p>A community of people, who care about cars</p>
              <a href="#">Read More</a> </aside>
            <aside class="col-lg-7 col-sm-5"> <img src="website/images/slide-product2.png" class="img-fluid"> </aside>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Banner Section End -->


<!-- deal products -->
<section class="products">
  <div class="container">
    <h2>Todays's Deal</h2>
    <div id="products1" class="owl-carousel owl-theme">
      <div class="item">
        <div class="itemBox">
          <figure><a href="#"><img src="website/images/product1.jpg" class="img-fluid"></a></figure>
          <div class="addCart"> <a href="#" class="wishList"><i class="fas fa-heart"></i></a>
            <button>Add to cart</button>
            <a href="#" class="comPare"><i class="fas fa-info-circle"></i></a> </div>
          <h3><a href="#">Chuck cupim spare</a></h3>
          <div class="prPrice">$76.00</div>
        </div>
      </div>
      <div class="item">
        <div class="itemBox">
          <figure><a href="#"><img src="website/images/product2.jpg" class="img-fluid"></a></figure>
          <div class="addCart"> <a href="#" class="wishList"><i class="fas fa-heart"></i></a>
            <button>Add to cart</button>
            <a href="#" class="comPare"><i class="fas fa-info-circle"></i></a> </div>
          <h3><a href="#">Chuck cupim spare</a></h3>
          <div class="prPrice">$76.00</div>
        </div>
      </div>
      <div class="item">
        <div class="itemBox">
          <figure><a href="#"><img src="website/images/product3.jpg" class="img-fluid"></a></figure>
          <div class="addCart"> <a href="#" class="wishList"><i class="fas fa-heart"></i></a>
            <button>Add to cart</button>
            <a href="#" class="comPare"><i class="fas fa-info-circle"></i></a> </div>
          <h3><a href="#">Chuck cupim spare</a></h3>
          <div class="prPrice">$76.00</div>
        </div>
      </div>
      <div class="item">
        <div class="itemBox">
          <figure><a href="#"><img src="website/images/product4.jpg" class="img-fluid"></a></figure>
          <div class="addCart"> <a href="#" class="wishList"><i class="fas fa-heart"></i></a>
            <button>Add to cart</button>
            <a href="#" class="comPare"><i class="fas fa-info-circle"></i></a> </div>
          <h3><a href="#">Chuck cupim spare</a></h3>
          <div class="prPrice">$76.00</div>
        </div>
      </div>
      <div class="item">
        <div class="itemBox">
          <figure><a href="#"><img src="website/images/product2.jpg" class="img-fluid"></a></figure>
          <div class="addCart"> <a href="#" class="wishList"><i class="fas fa-heart"></i></a>
            <button>Add to cart</button>
            <a href="#" class="comPare"><i class="fas fa-info-circle"></i></a> </div>
          <h3><a href="#">Chuck cupim spare</a></h3>
          <div class="prPrice">$76.00</div>
        </div>
      </div>
      <div class="item">
        <div class="itemBox">
          <figure><a href="#"><img src="website/images/product1.jpg" class="img-fluid"></a></figure>
          <div class="addCart"> <a href="#" class="wishList"><i class="fas fa-heart"></i></a>
            <button>Add to cart</button>
            <a href="#" class="comPare"><i class="fas fa-info-circle"></i></a> </div>
          <h3><a href="#">Chuck cupim spare</a></h3>
          <div class="prPrice">$76.00</div>
        </div>
      </div>
      <div class="item">
        <div class="itemBox">
          <figure><a href="#"><img src="website/images/product4.jpg" class="img-fluid"></a></figure>
          <div class="addCart"> <a href="#" class="wishList"><i class="fas fa-heart"></i></a>
            <button>Add to cart</button>
            <a href="#" class="comPare"><i class="fas fa-info-circle"></i></a> </div>
          <h3><a href="#">Chuck cupim spare</a></h3>
          <div class="prPrice">$76.00</div>
        </div>
      </div>
      <div class="item">
        <div class="itemBox">
          <figure><a href="#"><img src="website/images/product3.jpg" class="img-fluid"></a></figure>
          <div class="addCart"> <a href="#" class="wishList"><i class="fas fa-heart"></i></a>
            <button>Add to cart</button>
            <a href="#" class="comPare"><i class="fas fa-info-circle"></i></a> </div>
          <h3><a href="#">Chuck cupim spare</a></h3>
          <div class="prPrice">$76.00</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Why Us -->
<section class="whyUs">
  <div class="container">
    <div class="whIn">
      <div class="col-lg-7">
        <h2>Why Choose Us</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <a href="#">Read More</a> </div>
    </div>
  </div>
</section>
<!-- deal products -->
<section class="products">
  <div class="container">
    <h2>Best Selling Products</h2>
    <div id="products2" class="owl-carousel owl-theme">
      <div class="item">
        <div class="itemBox">
          <figure><a href="#"><img src="website/images/product1.jpg" class="img-fluid"></a></figure>
          <div class="addCart"> <a href="#" class="wishList"><i class="fas fa-heart"></i></a>
            <button>Add to cart</button>
            <a href="#" class="comPare"><i class="fas fa-info-circle"></i></a> </div>
          <h3><a href="#">Chuck cupim spare</a></h3>
          <div class="prPrice">$76.00</div>
        </div>
      </div>
      <div class="item">
        <div class="itemBox">
          <figure><a href="#"><img src="website/images/product2.jpg" class="img-fluid"></a></figure>
          <div class="addCart"> <a href="#" class="wishList"><i class="fas fa-heart"></i></a>
            <button>Add to cart</button>
            <a href="#" class="comPare"><i class="fas fa-info-circle"></i></a> </div>
          <h3><a href="#">Chuck cupim spare</a></h3>
          <div class="prPrice">$76.00</div>
        </div>
      </div>
      <div class="item">
        <div class="itemBox">
          <figure><a href="#"><img src="website/images/product3.jpg" class="img-fluid"></a></figure>
          <div class="addCart"> <a href="#" class="wishList"><i class="fas fa-heart"></i></a>
            <button>Add to cart</button>
            <a href="#" class="comPare"><i class="fas fa-info-circle"></i></a> </div>
          <h3><a href="#">Chuck cupim spare</a></h3>
          <div class="prPrice">$76.00</div>
        </div>
      </div>
      <div class="item">
        <div class="itemBox">
          <figure><a href="#"><img src="website/images/product4.jpg" class="img-fluid"></a></figure>
          <div class="addCart"> <a href="#" class="wishList"><i class="fas fa-heart"></i></a>
            <button>Add to cart</button>
            <a href="#" class="comPare"><i class="fas fa-info-circle"></i></a> </div>
          <h3><a href="#">Chuck cupim spare</a></h3>
          <div class="prPrice">$76.00</div>
        </div>
      </div>
      <div class="item">
        <div class="itemBox">
          <figure><a href="#"><img src="website/images/product2.jpg" class="img-fluid"></a></figure>
          <div class="addCart"> <a href="#" class="wishList"><i class="fas fa-heart"></i></a>
            <button>Add to cart</button>
            <a href="#" class="comPare"><i class="fas fa-info-circle"></i></a> </div>
          <h3><a href="#">Chuck cupim spare</a></h3>
          <div class="prPrice">$76.00</div>
        </div>
      </div>
      <div class="item">
        <div class="itemBox">
          <figure><a href="#"><img src="website/images/product1.jpg" class="img-fluid"></a></figure>
          <div class="addCart"> <a href="#" class="wishList"><i class="fas fa-heart"></i></a>
            <button>Add to cart</button>
            <a href="#" class="comPare"><i class="fas fa-info-circle"></i></a> </div>
          <h3><a href="#">Chuck cupim spare</a></h3>
          <div class="prPrice">$76.00</div>
        </div>
      </div>
      <div class="item">
        <div class="itemBox">
          <figure><a href="#"><img src="website/images/product4.jpg" class="img-fluid"></a></figure>
          <div class="addCart"> <a href="#" class="wishList"><i class="fas fa-heart"></i></a>
            <button>Add to cart</button>
            <a href="#" class="comPare"><i class="fas fa-info-circle"></i></a> </div>
          <h3><a href="#">Chuck cupim spare</a></h3>
          <div class="prPrice">$76.00</div>
        </div>
      </div>
      <div class="item">
        <div class="itemBox">
          <figure><a href="#"><img src="website/images/product3.jpg" class="img-fluid"></a></figure>
          <div class="addCart"> <a href="#" class="wishList"><i class="fas fa-heart"></i></a>
            <button>Add to cart</button>
            <a href="#" class="comPare"><i class="fas fa-info-circle"></i></a> </div>
          <h3><a href="#">Chuck cupim spare</a></h3>
          <div class="prPrice">$76.00</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- testimonials -->
<section class="clientWords">
  <figure><img src="website/images/testi-image.jpg" class="img-fluid"></figure>
  <div class="container">
    <div class="testimonials">
      <h2>Client Says</h2>
      <div id="testi" class="owl-carousel owl-theme">
        <div class="item">
          <div class="comments">
            <div class="pic"><img src="website/images/client-img.jpg"></div>
            <h3>John B. Walker <span>Lawyer, New York</span></h3>
            <p>I am grateful to the professional technical support team who helped me with choosing and installing multiple products throughout the years of my ordering from the company. I like the service very much, and hope you continue making your customers happy and satisfied!</p>
          </div>
        </div>
        <div class="item">
          <div class="comments">
            <div class="pic"><img src="website/images/client-img.jpg"></div>
            <h3>John B. Walker <span>Lawyer, New York</span></h3>
            <p>I am grateful to the professional technical support team who helped me with choosing and installing multiple products throughout the years of my ordering from the company. I like the service very much, and hope you continue making your customers happy and satisfied!</p>
          </div>
        </div>
        <div class="item">
          <div class="comments">
            <div class="pic"><img src="website/images/client-img.jpg"></div>
            <h3>John B. Walker <span>Lawyer, New York</span></h3>
            <p>I am grateful to the professional technical support team who helped me with choosing and installing multiple products throughout the years of my ordering from the company. I like the service very much, and hope you continue making your customers happy and satisfied!</p>
          </div>
        </div>
        <div class="item">
          <div class="comments">
            <div class="pic"><img src="website/images/client-img.jpg"></div>
            <h3>John B. Walker <span>Lawyer, New York</span></h3>
            <p>I am grateful to the professional technical support team who helped me with choosing and installing multiple products throughout the years of my ordering from the company. I like the service very much, and hope you continue making your customers happy and satisfied!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Newsletter -->
<section class="newsLetter">
  <div class="container">
    <div class="letterBox">
      <div class="row">
        <aside class="col-lg-4">
          <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
          </ul>
        </aside>
        <aside class="col-lg-8">
          <label>Sign up for newsletter</label>
          <div class="inpBox">
            <input name="" type="text" class="inpTxt" placeholder="Your email address...">
            <input name="" type="button" value="Subscribe" class="inpBtn">
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>