<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Add Banner</h1>
        <ol class="breadcrumb">
            <li><a href="/admin"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active"><a href="/admin/banner">Banner</a></li>
            <li class="active">Add Banner</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-8">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        {{#if messages.error}}
                        <div class="alert alert-danger">{{ messages.error }}</div>
                        {{/if}}
                        {{#if messages.success}}
                        <div class="alert alert-success">{{ messages.success }}</div>
                        {{/if}}
                        <!-- form start -->
                        <form action="/admin/banner/addrecord" enctype="multipart/form-data" method="post" id="myForm">
                            <div class="box-body">

                                <div class="form-group">
                                    <label for="name">Name<span style="color: #ff0000">*</span></label>
                                    <input class="form-control" id="name" name="name" placeholder="Banner Name"
                                        type="text" required="required" value="">
                                </div>

                                <div class="form-group">
                                    <label for="description">Description</label>
                                    {{!-- <input class="form-control" id="description" name="description" placeholder="Description"
                                        type="text" value=""> --}}
                                    <textarea name="description" id="editor1" placeholder="Description" rows="10" cols="85" required></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="banner">Banner Image<span style="color: #ff0000">*</span></label>
                                    <input class="form-control" id="banner" name="banner" placeholder="Banner Image" type="file" required="required" value="">
                                </div>

                                <div class="form-group">
                                    <label>Select Status<span style="color: #ff0000">*</span></label>
                                    <select class="form-control" id="status" name="status" required="required">
                                        <option value="">Please Select Status</option>
                                        <option value="1">Active</option>
                                        <option value="0">In Active</option>
                                    </select>
                                </div>

                                <div class="box-footer">
                                    <button type="submit" name="submit" class="btn btn-primary">Submit</button>
                                    <a href="/admin/banner" name="cancel" class="btn btn-warning pull-right">Cancel</a>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->

        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>